MONGODB_URI=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_key_here_at_least_32_characters_long

BREVO_MCP_API_KEY=eyJhcGlfa2V5IjoieGtleXNpYi0xMzA1NDEzNDdmNWYzZTQyNTUzYjdkNmRlN2YzMmM4NDM3ZDVkNzMwNTViYzg5OWNkYTA4ZWIyMTJiYTY0YThmLVhiQlBHRUtOSWU2aUJhTnQifQ==